// Importing the right SCSS-files in right order

@import "variables";
@import "mixins";

@import "../node_modules/bootstrap/scss/bootstrap";

@import "navbar";
@import "hero";
@import "footer";
@import "carousel.scss";
@import "search.scss";
@import "login.scss";

// Form reset

input,
button,
select,
textarea {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

// General styling for the whole website

body {
  font-family: "Poppins", system-ui, -apple-system, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#clearSearch {
  &:hover {
    background-color: red;
  }
}

.auctions {
  .card {
    transition: transform 0.2s;
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    }
    .card-img-top {
      border-bottom: 1px solid#eee;
    }
    .card-titel {
      font-size: 1.25rem;
      font-weight: 600;
    }
    .card-text {
      font-size: 0.9rem;
      font-weight: 600;
    }
    .btn-primary {
      font-weight: 500;
    }
  }
}

footer {
  background-color: #6c757d;
  padding: 1rem;
  margin-top: auto;
  i {
    color: white;
  }

  a {
    color: white;
  }
}

// Responsive for smaller screens

@media (max-with: 768px) {
  .search-section {
    padding: 1rem;

    .form-control {
      width: 100% !important;
    }
  }
}

// Registration section:

.register-section {
  background: linear-gradient(45deg, #007bff, #0056b3);
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 2rem 0;

  .card {
    border-radius: 15px;
    border: none;

    .card-body {
      padding: 2rem;
    }
  }

  .invalid-feedback {
    margin-top: 0.25rem;
  }
  a {
    color: $primary;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
